## Alumno: *Juan Alberto Peñalver Alvarez*

## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [1]:
# Your code here
tup = ( "I", )
tup

('I',)

#### Print the type of `tup`.

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [5]:
# Your code here
print(type(tup))

<class 'tuple'>

#### Now try to append the following elements to `tup`.

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [6]:
# Your code here
lista = []
print(type(tup))
lista = list(tup)
print(lista)
print(type(lista))
lista = lista + ["r"]
print(lista)
lista = lista + ["o"]
print(lista)
lista = lista + ["n"]
print(lista)
lista = lista + ["h"]
print(lista)
lista = lista + ["a"]
print(lista)
lista = lista + ["c"]
print(lista)
lista = lista + ["k"]
print(type(lista))
tup = tuple(lista)
print(tup)
print(type(tup))
# Your explanation here
# You can :)

# No se pueden añadir elementos directamente a una tupla en Python porque las tuplas son inmutables.
# Sin embargo, para simular esta acción, puedes convertir la tupla en una lista, añadir el elemento
# a esa lista y luego convertir la lista de nuevo a una tupla.

<class 'tuple'>
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
<class 'list'>
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h', 'a']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h', 'a', 'c']
<class 'list'>
('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [8]:
# Your code here
lista2 = list(tup)
lista2.remove("I")
lista2 =["I"] + lista2
tup = tuple(lista2)
print(tup)
# Igual que antes, se transforma la tupla en una lista, se elimina el primer elemento y se junta con el otro elemento
# en primer lugar, para luego transforma la lista en la tupla

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each.

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [9]:
from posixpath import split
# Your code here
tup1 = tup[0:4]
tup2 = tup[-4:]

print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [10]:
# Your code here
tup3 = tup1 + tup2
print(tup3)
print(type(tup3))
print(tup3 == tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>
False

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [11]:
# Your code here
conta1 = len(tup1)
conta2 = len(tup2)
conta3 = len(tup3)

suma = conta1 +  conta2

print(conta1)
print(conta2)
print(conta3)
print(suma == conta3)

4
4
8
True

#### What is the index number of `"h"` in `tup3`?

In [12]:
# Your code here
number = tup3.index('h')
print(number)

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [13]:
# Your code here

letters = [ "a", "e", "i", "o", "u", "A", "E", "I", "O", "U" ]

for letter in letters:
    if letter in tup3:
        print(letter, " --> True")
    else:
        print(letter, " --> False")

a  --> True
e  --> False
i  --> False
o  --> True
u  --> False
A  --> False
E  --> False
I  --> True
O  --> False
U  --> False

In [ ]:
# Your code here

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [14]:
# Your code here

for letter in letters:
    count = tup3.count(letter)
    print(f"{letter} --> {count}")

a --> 1
e --> 0
i --> 0
o --> 1
u --> 0
A --> 0
E --> 0
I --> 1
O --> 0
U --> 0

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [15]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here

sample_list_1 = random.sample(range(0,101), 80)

print(sample_list_1)
print("Cantidad de valores:", len(sample_list_1))

[27, 47, 87, 7, 94, 80, 49, 96, 26, 1, 40, 42, 52, 66, 2, 16, 17, 97, 74, 85, 81, 4, 88, 30, 98, 32, 69, 75, 38, 59, 33, 63, 0, 70, 93, 24, 77, 9, 36, 41, 8, 99, 37, 44, 100, 20, 51, 13, 23, 90, 39, 22, 11, 56, 92, 83, 5, 25, 12, 76, 78, 57, 79, 19, 6, 46, 28, 43, 82, 64, 48, 21, 3, 73, 68, 91, 15, 29, 50, 35]
Cantidad de valores: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# your code here

set1 = set(sample_list_1)

print("set1: ", set1)
print(" de set1: ", len(set1))

set1:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 56, 57, 59, 63, 64, 66, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
 de set1:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# your code here

sample_list_2 = []

for _ in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)
print("Cantidad de valores: ", len(sample_list_2))

[32, 79, 93, 50, 8, 97, 58, 27, 3, 25, 67, 78, 42, 68, 2, 71, 50, 66, 22, 23, 39, 75, 41, 13, 93, 57, 47, 97, 21, 56, 70, 83, 48, 6, 3, 35, 43, 46, 74, 4, 80, 12, 5, 20, 77, 37, 24, 77, 16, 55, 97, 65, 9, 11, 58, 1, 28, 18, 89, 55, 79, 50, 67, 33, 71, 33, 93, 49, 22, 66, 92, 35, 91, 65, 68, 55, 90, 43, 51, 89]
Cantidad de valores:  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here

set2 = set(sample_list_2)

print("set2: ", set2)
print("Longitud de set2: ", len(set2))

set2:  {1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 16, 18, 20, 21, 22, 23, 24, 25, 27, 28, 32, 33, 35, 37, 39, 41, 42, 43, 46, 47, 48, 49, 50, 51, 55, 56, 57, 58, 65, 66, 67, 68, 70, 71, 74, 75, 77, 78, 79, 80, 83, 89, 90, 91, 92, 93, 97}
Longitud de set2:  58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here

set3 = set1 - set2 # set1.difference(set2)

print("set3: ", set3)
print("Cantidad de elementos en set3: ", len(set3))

set3:  {0, 7, 15, 17, 19, 26, 29, 30, 36, 38, 40, 44, 52, 59, 63, 64, 69, 73, 76, 81, 82, 85, 87, 88, 94, 96, 98, 99, 100}
Cantidad de elementos en set3:  29

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [21]:
# Your code here

set4 = set2 - set1 #set4 = set2.difference(set1)

print("set4: ", set4)
print("Cantidad de elementos en set4: ", len(set4))

set4:  {65, 67, 71, 18, 55, 89, 58}
Cantidad de elementos en set4:  7

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here

set5 = set1 & set2 #set5 = set1.intersection(set2)

print("set5: ", set5)
print("Cantidad de elementos en set5: ", len(set5))

set5:  {1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 16, 20, 21, 22, 23, 24, 25, 27, 28, 32, 33, 35, 37, 39, 41, 42, 43, 46, 47, 48, 49, 50, 51, 56, 57, 66, 68, 70, 74, 75, 77, 78, 79, 80, 83, 90, 91, 92, 93, 97}
Cantidad de elementos en set5:  51

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [23]:
# Your code here

#                | set1 | = | set3 | + | set5 |

#                | set2 | = | set4 | + | set5 |

# donde |X| representa el cardinal del conjunto o la cantidad de elementos del conjunto 0

print("¿ len(set1) == len(set3) + len(set5) ? ", len(set1) == len(set3) + len(set5))
print("¿ len(set2) == len(set4) + len(set5) ? ", len(set2) == len(set4) + len(set5))

¿ len(set1) == len(set3) + len(set5) ?  True
¿ len(set2) == len(set4) + len(set5) ?  True

#### Create an empty set called `set6`.

In [24]:
# Your code here

set6 = set()

print("set6: ", set6)
print("Tipo de set6: ", type(set6))

set6:  set()
Tipo de set6:  <class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here

set6.update(set3, set5)

print("set6: ", set6)
print("Cantidad de elementos en set6: ", len(set6))

set6:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 56, 57, 59, 63, 64, 66, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
Cantidad de elementos en set6:  80

#### Check if `set1` and `set6` are equal.

In [26]:
# Your code here

print("¿ set1 es igual que set6 ? ", set1 == set6)

¿ set1 es igual que set6 ?  True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [27]:
# Your code here

print("¿ set1 contiene a set2 ? ", set2.issubset(set1))
print("¿ set1 contiene a set3 ? ", set3.issubset(set1))

¿ set1 contiene a set2 ?  False
¿ set1 contiene a set3 ?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`.

#### Check if the aggregated values are equal.

In [28]:
# Your code here

union1 = set1.union(set2)
union2 = set3.union(set4, set5)

print("¿ set1 U set2 == set3 U set4 U set5 ? ", union1 == union2)

¿ set1 U set2 == set3 U set4 U set5 ?  True

#### Using the `pop` method, remove the first element from `set1`.

In [29]:
# Your code here

removed_element = set1.pop()

print("Elemento eliminado: ", removed_element)
print("set1 después de pop: ", set1)
print("Nueva longitud de set1: ", len(set1))

Elemento eliminado:  0
set1 después de pop:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 56, 57, 59, 63, 64, 66, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
Nueva longitud de set1:  79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [30]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for val in list_to_remove:
    set1.discard(val)

print("Elementos restantes en set1: ", set1)
print("Cantidad de elementos en set1: ", len(set1))

Elementos restantes en set1:  {2, 3, 4, 5, 6, 7, 8, 12, 13, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 56, 57, 63, 64, 66, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 93, 94, 96, 97, 98, 100}
Cantidad de elementos en set1:  63

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [ ]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

📖 [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [31]:
# Your code here

# Diccionario original
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

# 1. Extraer las claves y convertirlas a lista
keys = list(word_freq.keys())

# 2. Ordenar la lista de claves
keys.sort()

# 3. Crear un diccionario vacío
word_freq2 = {}

# 4. Usar un for loop para reconstruir el diccionario ordenado
for k in keys:
    word_freq2[k] = word_freq[k]

# Resultado
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [32]:
# Your code here

import operator

# 1. Usar sorted con operator.itemgetter para ordenar por el valor
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))

# 2. Crear un diccionario vacío
word_freq2 = {}

# 3. Recorrer la lista de tuplas e insertar los pares clave-valor
for k, v in sorted_tups:
    word_freq2[k] = v

# 4. Imprimir el resultado
print(word_freq2)

{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}