### Alumno: *Juan Alberto PeÃ±alver Alvarez*

# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [2]:
#your code here
lista_enteros = [ x for x in range(1,51) ]
print(lista_enteros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [3]:
#your code here
lista_enteros_pares = [ x for x in range(2,201) if x % 2 == 0 ]
print(lista_enteros_pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [4]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [5]:
#your code here
a2 = [ x for i in a for x in i]
print(a2)
print(len(a2))

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]
40

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [6]:
#your code here
a3 = [ x for i in a for x in i if x >= 0.5 ]
print(a3)
print(len(a3))

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]
19

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [7]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [8]:
#your code here
b1 = [ x for i in b for j in i for x in j ]
print(b1)
print(len(b1))

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]
30

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [9]:
#your code here
b2 = [ x for i in b for j in i for x in j if x >= 0.5 ]
print(b2)
print(len(b2))

[0.55867166, 0.82579068, 0.91512478, 0.65857693, 0.96031863, 0.51293743, 0.71893382, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.8694668, 0.65669313, 0.65368638]
15

### Bonus

Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)

### Bonus

**Easy**

Insert values: Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

You can assume that all values are integers. Do not mutate the input array.

In [10]:
#your code here
lista_entera = [ -5, 4, -7, 0, -1, 3, 2, -6 ]
lista_entera_negativa = [ -x for x in lista_entera ]
print(lista_entera_negativa)

[5, -4, 7, 0, 1, -3, -2, 6]

Sum_Square(n)

Complete the square sum function so that it squares each number passed into it and then sums the results together.

For example, for [1, 2, 2] it should return 9 because
1^2 + 2^2 + 2^2 = 9

1^2 + 2^2 + 2^2 = 9.

In [11]:
#Your code here
lista_num = [ 1, 2, 2]
lista_cuadrados = [ x**2 for x in lista_num ]
print(lista_cuadrados)
print(sum(lista_cuadrados))

[1, 4, 4]
9

Digitize

Given a non-negative integer, return an array / a list of the individual digits in order.

Examples:

123 => [1,2,3]

1 => [1]

8675309 => [8,6,7,5,3,0,9]

In [12]:
#Your code here

import random

n = random.randint(1,100000)
print(n)
lista_digitos = [ x for x in str(n) ]
print(lista_digitos)

49538
['4', '9', '5', '3', '8']

List filtering

In this kata you will create a function that takes a list of non-negative integers and strings and returns a new list with the strings filtered out.


Example

filter_list([1,2,'a','b']) == [1,2]

filter_list([1,'a','b',0,15]) == [1,0,15]

filter_list([1,2,'aasf','1','123',123]) == [1,2,123]

In [13]:
#Your code here

lista_mixta = [ 1, 'a', 'tienda', 5, '123', 78, 25, 'PEPE', 8 ]
print(lista_mixta)

lista_filtrada = [ x for x in lista_mixta if type(x) == int ]
print(lista_filtrada)

[1, 'a', 'tienda', 5, '123', 78, 25, 'PEPE', 8]
[1, 5, 78, 25, 8]

Arithmetic list

In this kata, you will write an arithmetic list which is basically a list that contains consecutive terms in the sequence.
You will be given three parameters :

* first the first term in the sequence

* c the constant that you are going to ADD ( since it is an arithmetic sequence...)

* l the number of terms that should be returned
Useful link: Sequence


Be sure to check out my Arithmetic sequence Kata first ;)

Don't forget about the indexing pitfall ;)

In [14]:
#Your code here

p = 1001
c = 7
l = 25

arithmetic_list = [ p + (x*c) for x in range(0,l) ]
print(arithmetic_list)

[1001, 1008, 1015, 1022, 1029, 1036, 1043, 1050, 1057, 1064, 1071, 1078, 1085, 1092, 1099, 1106, 1113, 1120, 1127, 1134, 1141, 1148, 1155, 1162, 1169]

**Medium**

Multiple of 3 or 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in.

Additionally, if the number is negative, return 0.

Note: If a number is a multiple of both 3 and 5, only count it once.

Courtesy of projecteuler.net (Problem 1)

In [16]:
#Your code here

num = int(input("Introduce un nÃºmero entero: "))

list_num_mult_3or5 = [ 0 if x < 0 else x for x in range(1,num) if x % 3 == 0 or x % 5 == 0 ]
print(list_num_mult_3or5)
print(sum(list_num_mult_3or5))

Introduce un nÃºmero entero: 100
[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]
2318

Count of positives / sum of negatives

Given an array of integers.

Return an array, where the first element is the count of positives numbers and the second element is sum of negative numbers. 0 is neither positive nor negative.

If the input is an empty array or is null, return an empty array.

Example

For input [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15], you should return [10, -65].

In [17]:
#Your code here

lista_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]

resultado = [ len([ x for x in lista_num if x > 0 ]), sum([ x for x in lista_num if x < 0 ]) ]
print(resultado)

[10, -65]

Categorize new member

he Western Suburbs Croquet Club has two categories of membership, Senior and Open. They would like your help with an application form that will tell prospective members which category they will be placed.

To be a senior, a member must be at least 55 years old and have a handicap greater than 7. In this croquet club, handicaps range from -2 to +26; the better the player the lower the handicap.

Input

Input will consist of a list of pairs. Each pair contains information for a single potential member. Information consists of an integer for the person's age and an integer for the person's handicap.

Output

Output will consist of a list of string values (in Haskell and C: Open or Senior) stating whether the respective member is to be placed in the senior or open category.

Example

input =  [[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]]

output = ["Open", "Open", "Senior", "Open", "Open", "Senior"]

In [18]:
#Your code here

input =  [[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]]

output = ["Senior" if edad >= 55 and handicap > 7 else "Open" for edad, handicap in input]

print(output)

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']

Queue time counter

You managed to send your friend to queue for tickets in your stead, but there is a catch: he will get there only if you tell him how much that is going to take. And everybody can only take one ticket at a time, then they go back in the last position of the queue if they need more (or go home if they are fine).

Each ticket takes one minutes to emit, the queue is well disciplined, Brit-style, and so it moves smoothly, with no waste of time.

You will be given an array/list/vector with all the people queuing and the initial position of your buddy, so for example, knowing that your friend is in the third position (that we will consider equal to the index, 2 (3 in COBOL): he is the guy that wants 3 tickets!) and the initial queue is [2, 5, 3, 4, 6].

The first dude gets his ticket and the queue goes now like this [5, 3, 4, 6, 1], then [3, 4, 6, 1, 4] and so on. In the end, our buddy will be queuing for 12 minutes, true story!

Build a function to compute it, resting assured that only positive integers are going to be there and you will be always given a valid index; but we also want to go to pretty popular events, so be ready for big queues with people getting plenty of tickets.

In [19]:
#Your code here

posicion_amigo = 2

cola = [2, 5, 3, 4, 6]

tiempo = tiempo = sum([min(t, cola[posicion_amigo] - (i > posicion_amigo)) for i, t in enumerate(cola)])

print(tiempo)

12